@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Zector";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/Zector.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: text-base;
}

p {
  font-size: text-sm;
}
