---
import { Image } from '@astrojs/image/components'
import Copy from '../components/Copy.astro'
import Layout from '../layouts/Layout.astro'
import JetX from '../img/jetx.jpg'
import Button from '../components/Button.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Quer ganhar dinheiro extra de forma rápida e fácil?">
  <main
    class="block min-h-screen w-full bg-gradient-to-tr from-black to-[#0c1539]"
  >
    <section class="max-w-[800px] grid gap-12 mx-auto px-4">
      <Image src={JetX} width={800} height={440} alt="JetX" />
      <Copy />
      <Button />
    </section>
  </main>
  <Footer />
</Layout>
