---
import { Image } from "@astrojs/image/components";
import Whatsapp from "../img/whatsapp.svg"
---

<a class="flex gap-2 text-2xl w-full px-4 py-2 shadow-2xl ring-2 ring-[#0fb8f5] shadow-[#82c7f6] bg-[#0fb8f5] justify-center rounded-md font-semibold" href="https://wa.me/message/7MDFOJUX4RBZK1">
   CLIQUE AQUI
</a>