<a
  class="flex gap-2 text-2xl w-full px-4 py-2 shadow-2xl ring-2 transition-all ring-[#0fb8f5] shadow-[#82c7f6] bg-[#0fb8f5] cursor-pointer hover:bg-[#82c7f6] hover:ring-[#82c7f6] justify-center rounded-md font-semibold"
  href="https://wa.me/554791172450?text=Quero mudar de vida e me tornar um especialista!"
>
  CLIQUE AQUI
</a>
