<article class="grid gap-5 text-center">
  <h1 class="text-5xl max-lg:text-3xl text-white font-bold">
    Bem-vindo ao lugar onde sua vida irá começar a mudar!
  </h1>

  <div class="grid gap-5 text-lg max-lg:text-base">
    <p>
      Está cansado de trabalhar duro, mas nunca ter dinheiro suficiente para
      fazer aquela viagem dos sonhos ou comprar um carro novo? Ou talvez você
      esteja procurando uma maneira de ganhar dinheiro extra sem sair de casa?
      Se você respondeu sim a qualquer uma dessas perguntas, então você veio ao
      lugar certo!
    </p>

    <p>
      Apresentamos o JetX, o jogo que está transformando a vida das pessoas!
      Você pode fazer dinheiro do conforto da sua própria casa.
    </p>

    <p>
      E o melhor de tudo, você não precisa ser um especialista para fazer
      dinheiro. Eu vou te ensinar do completo 0.
    </p>

    <p>
      Não deixe para amanhã o que você pode fazer hoje! Junte-se aos alunos e
      comece a mudar sua vida para melhor. Com o dinheiro que você ganhar
      jogando, você pode pagar suas contas, investir, ou até mesmo comprar
      aquela casa dos sonhos.
    </p>

    <p class="text-lg font-bold max-lg:text-base">
      Clica no link abaixo e encontre a solução por um desconto nunca antes
      visto!
    </p>
  </div>
</article>
