<div class="grid gap-5 text-center">
  <h1 class="text-5xl max-lg:text-3xl text-white font-bold">
    Você precisa de algo para para te tirar desta rotina.
  </h1>

  <p class="text-lg max-lg:text-base">
    Cansado de ir todo dia trabalhar e ao final do mês simplesmente não ter nada
    além do dinheiro para pagar as contas? Realmente essa rotina de trabalho
    exaustiva para não chegar a qualquer lugar e é algo que leva qualquer um
    para o abismo, chegando até a depressão, ansiedade, Burnout. <br /><br />
    Imagina você poder ir nos seus restaurantes favoritos, viajar, comprar um carro
    novo, celular do ano.
  </p>
  <p class="text-lg font-bold max-lg:text-base">
    Clica no link abaixo e encontre a solução por um desconto nunca antes visto!
  </p>
</div>
