<div class='grid gap-5 text-center'>
<h1 class="text-5xl max-lg:text-3xl text-white font-bold">Quer ganhar dinheiro extra de forma rápida e fácil?</h1>
<p class="text-lg max-lg:text-base"> Nós temos a solução perfeita para você! Descubra como é possível aumentar sua renda e alcançar a liberdade financeira com nosso curso. Aprenda as estratégias e técnicas utilizadas pelos jogadores de sucesso e comece a ganhar dinheiro hoje mesmo.
   <br>
   <br>
Clique no link e saiba como ganhar o desconto e pagar apenas <span class="text-6xl max-md:text-4xl font-bold block pr-6 mt-2">R$9.90</span> </p>
</div>